name: PR Flow

on: [pull_request]

# on:
#   # push:
#   #   branches:
#   #     - '**'
#   pull_request:
#     # branches: [master]


jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: CHECKOUT
        uses: actions/checkout@v2
      - name: Get Pull Request Number
        id: pr
        run: ./.github/scripts/check-env.sh
        env:
          API_KEY: ${{ secrets.API_KEY }}
